# ignore some user's qt project file
*.pro.user*

lib/libRetroChess.dll.a
lib/RetroChess.dll
Makefile
Makefile.Debug
Makefile.Release
object_script.RetroChess.Debug
object_script.RetroChess.Release
temp/moc/moc_chess.cpp
temp/moc/moc_NEMainpage.cpp
temp/moc/moc_predefs.h
temp/moc/moc_RetroChessChatWidgetHolder.cpp
temp/moc/moc_RetroChessLeaderboard.cpp
temp/moc/moc_RetroChessNotify.cpp
temp/moc/moc_RetroChessSettings.cpp
temp/moc/moc_RetroChessUserNotify.cpp
temp/obj/chess.o
temp/obj/moc_chess.o
temp/obj/moc_NEMainpage.o
temp/obj/moc_RetroChessChatWidgetHolder.o
temp/obj/moc_RetroChessLeaderboard.o
temp/obj/moc_RetroChessNotify.o
temp/obj/moc_RetroChessSettings.o
temp/obj/moc_RetroChessUserNotify.o
temp/obj/NEMainpage.o
temp/obj/p3RetroChess.o
temp/obj/qrc_RetroChess_images.o
temp/obj/RetroChessChatWidgetHolder.o
temp/obj/RetroChessLeaderboard.o
temp/obj/RetroChessNotify.o
temp/obj/RetroChessPlugin.o
temp/obj/RetroChessSettings.o
temp/obj/RetroChessUserNotify.o
temp/obj/rsRetroChessItems.o
temp/obj/tile.o
temp/obj/validation.o
temp/qrc/qrc_RetroChess_images.cpp
temp/ui/ui_chess.h
temp/ui/ui_NEMainpage.h
temp/moc/moc_ChessToaster.cpp
temp/moc/moc_RetroChessToasterNotify.cpp
temp/ui/ui_ChessToaster.h
temp/obj/ChessToaster.o
temp/obj/moc_ChessToaster.o
temp/obj/moc_RetroChessToasterNotify.o
temp/obj/RetroChessToasterNotify.o
temp/obj/ChessDebugWidget.o
temp/moc/moc_ChessGameReviewDialog.cpp
temp/obj/ChessGameHistory.o
temp/obj/moc_ChessGameReviewDialog.o
temp/obj/ChessGameReviewDialog.o
temp/moc/moc_ChessBoard.cpp
temp/obj/ChessBoard.o
temp/obj/moc_ChessBoard.o
temp/moc/moc_RetroChessSessionService.cpp
temp/obj/RetroChessSessionService.o
temp/obj/moc_RetroChessSessionService.o
debug/release/
debug/debug/
tests/pending-invite.ps1
temp/pending-invite-test.exe
temp/pending-invite-test.cpp
temp/invite-delivery-build.log
temp/contacts-menu-build.log
temp/contacts-layout-build.log
temp/contacts-build.log
temp/contacts-avatar-build.log
temp/ccyquZ71.s
